
*{
    margin: 0;
    padding:0 ;
}
.body{
    position: relative;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: rgba(202, 199, 199, 0.699);
    padding-top: 60px;
    padding-bottom:40px;
}
.header{
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 0;
    right: 0;
    left: 0;
    height: 30px;
    padding:10px;
    box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.2);
}
.header__logo{
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}
.users{
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    border-radius: 15px;
    padding-left: 10px;
}
.users__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    border-bottom: 1px solid black;
}
.users__head,
.profile__head{
    align-self: flex-start;
    padding: 5px;
    box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.2);
}
.content__avatar{
    width: 50px;
    height: 50px;
    padding-top: 5px;
}
.content__name{
    font-weight: bold;
    font-size: 20px;
}
.posts{
    grid-column-start: 2;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.posts__form,
.post{
background-color: rgb(255, 255, 255);
display: flex;
flex-direction: column;
padding: 15px;
margin: 5px;
border-radius: 10px;
box-shadow: 0 8px 20px 5px rgba(0, 0, 0, 0.2),0 8px 15px 5px rgba(0, 0, 0, 0.2);
}
.posts__title,
.posts__content,
.posts__image{
    margin: 5px;
    padding: 5px;
    outline: none;
    background: none;
    border-radius: 10px;
    border: 1px solid rgb(71, 69, 69);
}
.posts__send{
    width:60px;
    height: 40px;
    background: none;
    border-radius: 10px;
    align-self: center;
    font-size: 18px;
    font-weight: bold;
    outline: none;
}
.post__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}
.content__avatar{
    width: 50px;
    height: 50px;
    margin: 5px;
}
.content__name{
    font-size: 25px;
}
.container__name{
    display: flex;
    flex-direction: column;
}
.post__date{
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
}
.post__title{
    font-size: 25px;
    margin-left: 5px;
    font-weight: bold;
    font-variant: small-caps;
}
.post__image{
width: 100%;
height: 100%;
border-radius: 20px;
}
.post_content{
    font-size: 15px;
    margin: 5px;
    font-family: monospace;
}
.profile{
    grid-column-start: 3;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.profile__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(207, 207, 207);
    border-radius: 20px;
    box-shadow: 0 8px 20px 5px rgba(0, 0, 0, 0.2),0 8px 15px 5px rgba(0, 0, 0, 0.2);
}
.profile__avatar{
    width: 150px;
    height: 150px;
}
.container__name{
font-size: 30px;
font-family: fantasy;
}
.container__email{
    font-size: medium;
    font-style: oblique;
}
.profile__log-out{
    border-radius: 20px;
    background: none;
    outline: none;
    margin: 10px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    align-self: center;
}
.footer{
    position: absolute;
    bottom: 0;
    background-color: rgb(240, 243, 233);
    box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.2);
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login__img,
.signup__img {
    width: 100px;
    height: 100px;
}
@media (max-width:750px){
    .body{
        grid-template-columns: 5% 90% 5%;
        grid-row: 10% 80%;
    }

    .profile{
      display: none;
    }
    .posts{
        grid-column-start: 2;
        grid-row: 2;
    }
    .users{
        grid-row-start: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 20px;
        border-radius: 15px;
        padding-left: 10px;
    }
    .users__head{
        display: none;
    }
    .users__container{
        border-right: 1px solid black;
        border-bottom: 0;
        padding-right: 5px;
    }
}